---
  BasedOnStyle: LLVM
  IncludeBlocks: Regroup
  IndentPPDirectives: AfterHash
  AccessModifierOffset: '-2'
  IndentWidth: '2'
  AlignTrailingComments: 'true'
  AllowAllParametersOfDeclarationOnNextLine: 'false'
  AlwaysBreakTemplateDeclarations: 'No'
  BreakBeforeBraces: Attach
  ColumnLimit: '100'
  ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
  NamespaceIndentation: None
  BreakBeforeBinaryOperators: 'false'
  BreakBeforeTernaryOperators: 'true'
...
